In [1]:
# %pip install sqlalchemy --upgrade

In [1]:
from sqlalchemy import create_engine
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
import holidays
import joblib

ModuleNotFoundError: No module named 'holidays'

In [ ]:
database_url = "postgresql://postgres.aeootalfoqhilupvmfac:xWbhAokb54DJdTb@aws-0-eu-central-1.pooler.supabase.com:6543/postgres"

In [4]:
engine = create_engine(database_url)

In [5]:
query = """
SELECT
  *
FROM
  public.trips_2024_07_02
ORDER BY
  tpep_dropoff_datetime DESC
LIMIT
  100000;
"""

In [6]:
df = pd.read_sql(query, engine)

#### Preprocessing

In [9]:
! pip install holidays

Collecting holidays
  Downloading holidays-0.54-py3-none-any.whl (1.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 2.3 MB/s eta 0:00:00m eta 0:00:010:01:01
Requirement already satisfied: python-dateutil in /home/abuzar/venvs/mlops/lib/python3.8/site-packages (from holidays) (2.8.2)
Requirement already satisfied: six>=1.5 in /home/abuzar/venvs/mlops/lib/python3.8/site-packages (from python-dateutil->holidays) (1.15.0)
Installing collected packages: holidays
Successfully installed holidays-0.54

[notice] A new release of pip available: 22.3.1 -> 24.2
[notice] To update, run: pip install --upgrade pip

In [10]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
import joblib
import holidays
from datetime import datetime

In [5]:
df = pd.read_csv('trips_2024_07_02')

In [6]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,trip_id
0,2,2024-07-03 03:40:44+00:00,2024-07-03 03:59:58+00:00,1.0,4.48,1.0,N,68,148,1,23.3,1.0,0.5,5.66,0.00,1.0,33.96,2.5,0.00,528c4bc7-be4b-4771-97aa-8ce9c4625def
1,2,2024-07-03 03:24:55+00:00,2024-07-03 03:59:54+00:00,1.0,19.48,2.0,N,132,158,1,70.0,0.0,0.5,15.15,0.00,1.0,90.90,2.5,1.75,596b8146-3e9e-4a52-8b17-ead230ae6232
2,1,2024-07-03 03:40:21+00:00,2024-07-03 03:59:53+00:00,1.0,5.90,1.0,N,113,151,1,26.1,3.5,0.5,5.00,0.00,1.0,36.10,2.5,0.00,07f1286c-6585-4791-bc2b-fb3b4d27e57a
3,2,2024-07-03 03:53:10+00:00,2024-07-03 03:59:53+00:00,1.0,1.03,1.0,N,186,48,1,8.6,1.0,0.5,2.72,0.00,1.0,16.32,2.5,0.00,a012d35c-0536-4a1b-9576-a62bd305cc0b
4,2,2024-07-03 03:53:55+00:00,2024-07-03 03:59:49+00:00,1.0,1.64,1.0,N,114,100,1,9.3,1.0,0.5,2.86,0.00,1.0,17.16,2.5,0.00,37132f65-4daf-4449-be86-bfab2855dcda
5,2,2024-07-03 03:51:47+00:00,2024-07-03 03:59:47+00:00,1.0,2.72,1.0,N,246,239,1,12.8,1.0,0.5,3.56,0.00,1.0,21.36,2.5,0.00,9c434630-5903-4d33-a2da-07f40b10afac
6,2,2024-07-03 03:50:49+00:00,2024-07-03 03:59:43+00:00,1.0,2.26,1.0,N,163,236,1,12.1,1.0,0.5,0.20,0.00,1.0,17.30,2.5,0.00,9c0eb17b-ed99-40ea-929c-aff7f29e962a
7,2,2024-07-03 03:28:01+00:00,2024-07-03 03:59:43+00:00,2.0,17.66,2.0,N,132,230,1,70.0,0.0,0.5,16.11,6.55,1.0,98.41,2.5,1.75,1cbfb7db-1070-417f-83fb-4c13d08ec811
8,2,2024-07-03 03:22:20+00:00,2024-07-03 03:59:41+00:00,1.0,18.30,1.0,N,138,155,2,70.9,6.0,0.5,0.00,0.00,1.0,80.15,0.0,1.75,7f8c701a-9520-411d-9f2c-c3e2411acbb3
9,2,2024-07-03 03:37:38+00:00,2024-07-03 03:59:40+00:00,1.0,3.80,1.0,N,246,148,1,23.3,1.0,0.5,1.50,0.00,1.0,29.80,2.5,0.00,01466b60-b392-4ddd-854f-c44c610d6b7f

In [11]:
def check_holiday_weekend(date):
    ny_holidays = holidays.US(state='NY')
    is_weekend = date.weekday() >= 5
    is_holiday = date in ny_holidays
    return pd.Series([is_weekend, is_holiday])

In [12]:
def preprocess(df):
    # Convert datetime columns to datetime objects
    df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
    df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])
    
    # Remove outliers and negative values
    df_filtered = df[(df['trip_distance'] > 0) & 
                     (df['fare_amount'] >= 0) & 
                     (df['extra'] >= 0) & 
                     (df['mta_tax'] >= 0) & 
                     (df['tolls_amount'] >= 0) & 
                     (df['improvement_surcharge'] >= 0) & 
                     (df['total_amount'] >= 0) & 
                     (df['congestion_surcharge'] >= 0) & 
                     (df['Airport_fee'] >= 0) &
                     (df['tpep_dropoff_datetime'] > df['tpep_pickup_datetime'])]
    
    # Calculate trip duration in seconds
    df_filtered['duration_sec'] = (df_filtered['tpep_dropoff_datetime'] - df_filtered['tpep_pickup_datetime']).dt.total_seconds()
    
    # Create dummy variables for congestion surcharge and airport fee
    df_filtered['congestion_surcharge_dummy'] = (df_filtered['congestion_surcharge'] > 0).astype(int)
    df_filtered['airport_fee_dummy'] = (df_filtered['Airport_fee'] > 0).astype(int)
    
    # Determine if pickup time is during a weekend or holiday
    df_filtered[['is_weekend', 'is_holiday']] = df_filtered['tpep_pickup_datetime'].apply(check_holiday_weekend)
    df_filtered['is_weekend'] = df_filtered['is_weekend'].astype(int)
    df_filtered['is_holiday'] = df_filtered['is_holiday'].astype(int)
    
    # Select relevant features
    feature_columns = ['trip_distance', 'is_weekend', 'is_holiday', 
                       'congestion_surcharge_dummy', 'airport_fee_dummy']
    X = df_filtered[feature_columns]
    y = df_filtered['duration_sec']
    
    return X, y

In [13]:
df = pd.read_csv('trips_2024_07_02')

In [14]:
X, y = preprocess(df)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)

# Initialize and train the model
model = RandomForestRegressor(random_state=42)
model.fit(X_train, y_train)

# Predict and evaluate the model
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")

Mean Squared Error: 165868.8529

In [15]:
# Save the model
model_filename = "random_forest_regressor_model.joblib"
joblib.dump(model, model_filename)
print(f"Model saved to {model_filename}")

Model saved to random_forest_regressor_model.joblib